%section.section-showcase
  .row.title
    %h1 Our Products
  .row
    %ul.showcase.clearfix
      %li
        %figure.showcase-photo
          = image_tag('Oroville-@francollinphoto1-112-400x599.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('IMG_9294-400x267.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('Oroville-@francollinphoto1-101-400x267.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('IMG_9382-400x267.jpg', alt: "")
      %li.horizontal-img
        %figure.showcase-photo
          = image_tag('Oroville-@francollinphoto1-105-400x599.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('IMG_9363-1-400x267.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('IMG_9358-400x267.jpg', alt: "")
      %li
        %figure.showcase-photo
          = image_tag('IMG_9332-400x267.jpg', alt: "")