.display-center
  %section.section-showcase
    .row.title
      %h1 Testing Certificates
    .row
      %ul.showcase.clearfix
        %li
          %figure.showcase-photo
            %figcaption.c-top Pineapple Pez
            = link_to  "certificates/Pinapple-Pez.pdf", target: "_blank" do
              = image_tag('IMG_9287-300x200.jpg', alt: "Pineapple Pez")
        %li
          %figure.showcase-photo
            %figcaption.c-top Sour Diesel
            = link_to  "certificates/Sour-Diesel.pdf", target: "_blank" do
              = image_tag('IMG_9367-300x200.jpg', alt: "Sour Diesel")
        %li
          %figure.showcase-photo
            %figcaption.c-top Sauce
            = link_to  "certificates/19-2-Sauce.pdf", target: "_blank" do
              = image_tag('IMG_9353-300x200.jpg', alt: "Sauce")
        %li.horizontal-img
          %figure.showcase-photo
            %figcaption.c-top Terpenes
            = link_to  "certificates/16-1-Terps.pdf", target: "_blank" do
              = image_tag('Terpenes-Img-300x200.jpg', alt: "Terpenes")